html {
    height: 100%;
    background-image: url("../img/wallpaper.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

body {

}

#box {
    width: 400px;
    margin: 50px auto;
    text-align: center;
    position: relative;
        transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
}

.box-content {
    background: linear-gradient(90deg, rgba(214, 100, 0, 0.8) 0%, rgba(0, 0, 255, 0.9) 100%);
    border-radius: 20px;
    
}

.form {
    display: inline-flex;
}

label.required:after {
    content: '*';
    margin-left: 5px;
    color: #f00;
}

input[type=radio]:checked~.check::before {
    background: rgb(0, 0, 255);
}

/*.centro {
    display: flex;
    justify-content: center;
    align-items: center;
}*/



.titulo {
    width: 100%;
    display: block;
}

.titulo h3 {
    font-size: 24px;
    text-align: center;
}


.cadastro {
    border: 1px solid white;
    margin: 0px 20px 20px 20px;
}

.cadastro label,
input {
    margin: 15px;
}

button {
    font-size: 16px;
    background-color: white;
    color: blueviolet;
}

button:hover {
    font-size: 16px;
    background-color: #8B7CD6;
    color: white;
}

input[type=text]:not(.basic),
input[type=tel]:not(.basic),
input[type=email]:not(.basic),
input[type=password]:not(.basic),
select:not(.basic),
textarea:not(.basic) {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border: 1px solid #ccc;
    display: inline-block;
    font-size: 17px;
    padding: 12px 16px;
    width: 210px;
}

